body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    margin: 0 20%;
    justify-content: center;
}

table {
    width: 600px;
    /*border-collapse: collapse;  Une as Bordas*/
}

th, td {
    padding: 7px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.07em;
}

tr {
    transition: background 0.2s;
}

.T-header {
    background: none !important;
}

tr:hover {
    background: #c3e6e5;
}


.alternado {
    background: #efefef;
}

.numero {
    text-align: right;
}
